@model MoviesManager.Models.User[]

@{
    ViewBag.Title = "UsersList";
    List<MoviesManager.Models.User> onlineUsers = MoviesManager.Models.OnlineUsers.ToList();
}
@if (Model != null)
{
    IEnumerable<MoviesManager.Models.User> users = Model;
    List<string> lstUN = new List<string>();
    <table class="table table-hover">
        <thead>
            <tr>
                <td ></td>
                <td >Nom d'utilisateur</td>
                <td>Nom complet</td>
                <td>Status</td>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in onlineUsers)
            {
                MoviesManager.Models.UserView user = MoviesManager.Models.Extension.ToUserView(item);
                <tr>
                    <td>
                        @Helper.Avatar(user)
                    </td>
                    <td>
                        @item.UserName
                    </td>

                    <td>
                        @item.FullName
                    </td>

                    <td>
                        @Helper.Icon("OnLine", "Online")
                    </td>

                </tr>
                lstUN.Add(item.UserName);
            }
            @foreach (var item in users)
            {
                if (!lstUN.Contains(item.UserName))
                {
                     MoviesManager.Models.UserView user = MoviesManager.Models.Extension.ToUserView(item);
                    <tr>
                        <td>
                            @Helper.Avatar(user)
                        </td>
                        <td>
                            @item.UserName
                        </td>

                        <td>
                            @item.FullName
                        </td>

                        <td>
                            @Helper.Icon("Masked", "Offline")
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>




}