@model IEnumerable<MoviesManager.Models.ActorView>
    <h1>Acteurs </h1>
<table class="table">
    <tr>
        <th>
            @Html.Label("Avatar")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th></th>
        @if ((bool)ViewBag.ShowCrudCommand)
        {

            <th></th>
            if (MoviesManager.Models.OnlineUsers.GetSessionUser() != null && MoviesManager.Models.OnlineUsers.GetSessionUser().Admin)
            {
                <th>
                    @Helper.FlashButton("Create", "iconPlus", "Ajouter un acteur", "left")
                </th>
            }

        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="width:100px;height:100px">
                @Helper.Image(item.GetAvatarUrl())
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td style="vertical-align:middle">
                @Helper.FlashButton("Details/" + item.Id, "Actors", "iconDetails", "Détails", "left")
            </td>
            @if ((bool)ViewBag.ShowCrudCommand)
            {
                if (MoviesManager.Models.OnlineUsers.GetSessionUser() != null && MoviesManager.Models.OnlineUsers.GetSessionUser().Admin)
                {
                    <td style="vertical-align:middle">
                        @Helper.FlashButton("Edit/" + item.Id, "Actors", "iconEdit", "Modifier", "left")
                    </td>
                    <td style="vertical-align:middle">
                        @Helper.FlashButton("Delete/" + item.Id, "Actors", "iconDelete", "Effacer", "left")
                    </td>
                }
            }
        </tr>
    }

</table>
