@model MoviesManager.Models.ActorView

@{
    ViewBag.Title = "Delete";
}

<h2>Retrait d'acteur</h2>

<div>
    <h2></h2>

    <table>
        <tr>
            <td><h2>@Html.DisplayFor(model => model.Name)</h2></td>
            <td>&nbsp;</td>
        </tr>
    </table>

    <div>


        <div style="width:200px;height:200px">
            @Helper.Image(Model.GetAvatarUrl())

        </div>
        <div>
            <div>
                <span style="font-weight:900">
                    @Html.DisplayNameFor(model => model.BirthDate) :
                </span>
                @Html.DisplayFor(model => model.BirthDate)
            </div>
            <div>
                <span style="font-weight:900">
                    @Html.DisplayNameFor(model => model.CountryId) :
                </span>
                @Html.DisplayFor(model => model.CountryId)
            </div>
            <div>
                <span style="font-weight:900">
                    @Html.DisplayNameFor(model => model.Sexe) :
                </span>
                @Html.DisplayFor(model => model.Sexe)
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Effacer" class="btn btn-default" /> |
                @Html.ActionLink("Retour", "Index")
            </div>
        }
    </div>
</div>
