@model MoviesManager.Models.ActorView

@{
    ViewBag.Title = "Details";
}

<table>
    <tr>
        <td><h2>@Html.DisplayFor(model => model.Name)</h2></td>
        <td>&nbsp;</td>
        @if (MoviesManager.Models.OnlineUsers.GetSessionUser() != null && MoviesManager.Models.OnlineUsers.GetSessionUser().Admin)
        {
            <td>@Helper.FlashButton("Edit/" + Model.Id, "Actors", "iconEdit", "Modifier", "left")</td>
            <td>&nbsp;</td>
        }
        <td>@Html.ActionLink("Retour", "Index")</td>
    </tr>
</table>



<div>
    @Html.HiddenFor(model => model.Id)

    <div style="width:200px;height:200px">
        @Helper.Image(Model.GetAvatarUrl())

    </div>
    <div>
        <div>
            <span style="font-weight:900">
                @Html.DisplayNameFor(model => model.Name) :
            </span>
            @Html.DisplayFor(model => model.Name)
        </div>
        <div>
            <span style="font-weight:900">
                @Html.DisplayNameFor(model => model.BirthDate) :
            </span>
            @Html.DisplayFor(model => model.BirthDate)
        </div>
        <div>
            <span style="font-weight:900">
                @Html.DisplayName("Pays") :
            </span>
            @ViewBag.Country.Name
        </div>
        <div>
            <span style="font-weight:900">
                @Html.DisplayName("Sexe (0: Homme, 1: Femme)") :
            </span>
            @Html.DisplayFor(model => model.Sexe)
        </div>
    </div>

</div>

<h4>Filmographie</h4>
@{
    ViewBag.ShowCrudCommand = false;
    Html.RenderPartial("~/Views/Films/FilmsList.cshtml", (IEnumerable<MoviesManager.Models.FilmView>)ViewBag.Films);
}


