@model MoviesManager.Models.FilmView

@{
    ViewBag.Title = "Delete";
}


    <div>
        <h2></h2>

        <table>
            <tr>
                <td><h2>@Html.DisplayFor(model => model.Title)</h2></td>
                <td>&nbsp;</td>
            </tr>
        </table>

        <div>

            <div style="width:200px;height:300px">
                @Helper.Image(Model.GetPosterURL())

            </div>
            <span style="font-weight:900">
                @Html.DisplayNameFor(model => model.Synopsis) :
            </span>
            @Html.DisplayFor(model => model.Synopsis)
            <div>
                <div>
                    <span style="font-weight:900">
                        @Html.DisplayNameFor(model => model.Author) :
                    </span>
                    @Html.DisplayFor(model => model.Author)
                </div>
                <div>
                    <span style="font-weight:900">
                        @Html.DisplayNameFor(model => model.Year) :
                    </span>
                    @Html.DisplayFor(model => model.Year)
                </div>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Effacer" class="btn btn-default" /> |
                    @Html.ActionLink("Retour", "Index")
                </div>
            }
        </div>
    </div>