@model MoviesManager.Models.FilmView

@{
    ViewBag.Title = "Details";
}

<h2></h2>

<table>
    <tr>
        <td><h2>@Html.DisplayFor(model => model.Title)</h2></td>
        <td>&nbsp;</td>
        <td>@Helper.FlashButton("Edit/" + Model.Id, "Films", "iconEdit", "Modifier", "left")</td>
        <td>&nbsp;</td>
        <td>@Html.ActionLink("Retour", "Index")</td>
    </tr>
</table>

<div>

    <div style="width:200px;height:300px">
        @Helper.Image(Model.GetPosterURL())

    </div>
    <span style="font-weight:900">
        @Html.DisplayNameFor(model => model.Synopsis) :
    </span>
    @Html.DisplayFor(model => model.Synopsis)
    <div>
        <div>
            <span style="font-weight:900">
                @Html.DisplayNameFor(model => model.Author) :
            </span>
            @Html.DisplayFor(model => model.Author)
        </div>
        <div>
            <span style="font-weight:900">
                @Html.DisplayNameFor(model => model.Year) :
            </span>
            @Html.DisplayFor(model => model.Year)
        </div>
    </div>

</div>
@{
    ViewBag.ShowCrudCommand = false;
    Html.RenderPartial("~/Views/Actors/ActorsList.cshtml", (IEnumerable<MoviesManager.Models.ActorView>)ViewBag.Actors);
}

