@model IEnumerable<MoviesManager.Models.FilmView>
<table class="table">
    <tr>
        <th>
            @Html.Label("Poster")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th></th>
        @if ((bool)ViewBag.ShowCrudCommand)
        {
            <th></th>
            if (MoviesManager.Models.OnlineUsers.GetSessionUser() != null && MoviesManager.Models.OnlineUsers.GetSessionUser().Admin)
            {
                <th>
                    @Helper.FlashButton("Create", "Films", "iconPlus", "Ajouter un film", "left")
                </th>
            }
        }
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td style="width:100px;height:100px">

            @Helper.Image(item.GetPosterURL())


        </td>
        <td style="vertical-align:middle">
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td style="vertical-align:middle">
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td style="vertical-align:middle">
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td style="vertical-align:middle">
            @Helper.FlashButton("Details/" + item.Id, "Films", "iconDetails", "Détails", "left")
        </td>
        @if ((bool)ViewBag.ShowCrudCommand)
        {
            if (MoviesManager.Models.OnlineUsers.GetSessionUser() != null && MoviesManager.Models.OnlineUsers.GetSessionUser().Admin)
            {
                <td style="vertical-align:middle">
                    @Helper.FlashButton("Edit/" + item.Id, "Films", "iconEdit", "Modifier", "left")
                </td>
                <td style="vertical-align:middle">
                    @Helper.FlashButton("Delete/" + item.Id, "Films", "iconDelete", "Effacer", "left")
                </td>
            }
        }
    </tr>
    }
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/selections")
    @Scripts.Render("~/bundles/imageUploader")
}